.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.container button {
  width: 60%;
  padding: 1rem 2rem;
}
.social_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social_btn {
  flex: 1;
  padding: 1rem 2rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
}

.hr {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #555;
  font-weight: bold;
  width: 60%;
}

.hr::before,
.hr::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.hr::before {
  margin-right: 10px; /* space between left line and text */
}

.hr::after {
  margin-left: 10px; /* space between text and right line */
}

/* Give the text a white background */
.hr span {
  background: #fff;
  padding: 0 5px;
}
.form {
  width: 60%;
  & button {
    width: 100%;
    margin-top: 1rem;
  }
}
.form > p:first-child {
  text-align: center;
  color: red;
}
