.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  height: 95vh;
}
.container > img {
  position: absolute;
  top: 0;
  left: 0;
}

.header_sec {
  position: relative;
  padding: 1rem 0;
}
/* borders */
.header_sec::after,
.servings_sec::after,
.details_sec::after,
.nutrition_sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% + 4rem);
  height: 1px;
  background: var(--color-lightgray);
  transform: translateX(-50%);
}
.badges_container {
  margin: 1rem 0;
}
.servings_sec {
  padding: 1rem 0;
  position: relative;
}
.sticky_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  bottom: 0;
  background-color: white;
  margin-right: -2rem;
  margin-left: -2rem;
  border-top: 1px solid var(--color-lightgray);
  & button {
    width: 32%;
    font-size: 1.1em;
  }
}

.content_wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 19rem;
  padding: 0 2rem;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  /* background-color: green; */
}
.details_sec {
  padding: 1rem 0;
  position: relative;
}
.nutrition_sec {
  padding: 1.4rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom_sec {
  padding: 2rem 0;
}

.apron_plus {
  border: 1px solid var(--color-lightgray);
  padding: 1rem 1.4rem;
  margin-top: 2rem;
  & hr {
    padding: 0;
    margin: 1rem;
    transform: translateX(-5%);
    width: 102%;
  }
}

/* ------- */

.option_btn {
  flex: 1;
  border: 1px solid;
  border-radius: 6px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.option_btn[data-checked="true"] {
  border-color: var(--color-lightblue);
}
.option_btn[data-checked="false"] {
  border-color: var(--color-lightgray);
}

/* Hide the default radio button */
.option_btn input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  opacity: 0;
}

.option_btn img {
  opacity: 0;
  transition: opacity 0.14s ease;
}

.option_btn[data-checked="true"] img {
  opacity: 1;
}
