.backdrop[data-meal-modal="false"] {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000060;
  z-index: 999;
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.backdrop[data-meal-modal="true"] {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000060;
  z-index: 999;
  display: grid;
  place-content: start center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.modal {
  background-color: var(--color-white);
  min-width: 500px;
  min-height: 500px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3 ease;
  position: relative;
}

.close {
  position: absolute;
  padding: 3rem 2rem;
  right: 1px;
  top: -12px;
  cursor: pointer;
}
.backdrop[data-open="true"] {
  height: 100vh;
  overflow: hidden;
}
.backdrop[data-open="true"],
.modal[data-open="true"] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close_container {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.close_container > p {
  margin-top: 2rem;
}

.close_container[data-meal-modal="true"] {
  z-index: 999;
  & img {
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
  }
}
