.left_text {
  font-size: 2em;
  letter-spacing: 0.02em;
  text-wrap: pretty;
}

.container {
  background-color: var(--color-lightblue);
  display: flex;
  gap: 4rem;
  padding-inline: 8rem;
  padding-block: 4rem;
  align-items: flex-start;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.container div {
  flex: 1;
}
.container div:first-child {
  flex: 1;
}
.container div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container > div > img {
  width: 6em;
  height: 6em;
  position: relative;
  right: 1rem;
  top: 1rem;
}

.section_container {
  border-bottom: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem 0;
  interpolate-size: allow-keywords;
  & h4 {
    font-family: "Volte";
    font-size: 1.4em;
    font-weight: 600;
  }
  & img {
    width: 0.3em;
    height: 0.3em;
    transition: all 0.4s ease-out;
    transform: rotate(720deg);
  }
  & p {
    font-family: "Volte";
    font-weight: 500;
    padding-bottom: 1rem;
  }
}
.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.spin {
  animation: spin 0.6s ease-out;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
  }
  .container > div > img {
    width: 6em;
    height: 6em;
  }
  .container div:nth-child(2) {
    width: 100%;
  }
  .section_container {
    padding: 0;
  }
}
