.banner {
  background-color: #FFE4A9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  gap: 16px;
}



.icon {


  color: #369b3d;
}


.icon img {
  height: 32px;
}

.log_in_container {
  display: flex;
  gap: 5px
}