.container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  & button {
    border: 2px solid var(--color-blue);
    background-color: var(--color-white);
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: grid;
    place-content: center;
    color: var(--color-blue);
    cursor: pointer;
    font-size: 1.4em;
  }
}
