.label {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}
.input {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 2px;
  padding: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  width: 100%;
  height: 100%;
}
.input_wrapper {
  position: relative;
  & img {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }
}
.phone_input_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  & select {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 2px;
    padding: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    width: 40%;
    height: 100%;
  }
  & input::placeholder {
    font-family: "Volte";
  }
}
