.container {
  position: relative;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}
.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100%);
  height: 1px;
  background: var(--color-lightgray);
  transform: translateX(-50%);
}

.servings,
.option {
  flex: 1;
}
.servings_options,
.option_options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* background-color: blueviolet; */
  }
}
