.container {
  background-color: var(--color-white);
  position: absolute;
  top: 8rem;
  transform: translateX(20%);
  width: 70%;
  & img {
    position: relative;
    top: 1rem;
  }
}
.close_container {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & img {
    /* background-color: var(--color-white); */
    border-radius: 50%;
    padding: 1rem;
    margin: 2rem 0rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    top: -1rem;
  }
}
.close_container > p {
  margin-top: 2rem;
}
