.container {
  position: relative;
  padding-bottom: 1rem;
}
.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100%);
  height: 1px;
  background: var(--color-lightgray);
  transform: translateX(-50%);
}
/* @media (max-width: 768px) {
  .container {
  }
} */
