.section_container[data-type="bold"] {
  border-bottom: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem 0;
  interpolate-size: allow-keywords;

  & h4 {
    font-family: "Volte";
    font-size: 1.4em;
    font-weight: 600;
  }
  & img {
    width: 0.3em;
    height: 0.3em;
    transition: all 0.4s ease-out;
    transform: rotate(720deg);
  }
  & p {
    font-family: "Volte";
    font-weight: 500;
    padding-bottom: 1rem;
  }
}
.section_container[data-type="light"] {
  border-bottom: 1px solid #cccccc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.4rem 0;
  interpolate-size: allow-keywords;

  & h4 {
    font-family: "Volte";
    font-size: 1.2em;
    font-weight: 500;
    /* font-weight: 600; */
  }
  & img {
    width: 1em;
    height: 1em;
    transition: all 0.4s ease-out;
    transform: rotate(720deg);
  }
  & p {
    font-family: "Volte";
    font-weight: 400;
    padding-bottom: 1rem;
    font-size: 0.9em;
  }
}
.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.spin {
  animation: spin 0.6s ease-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .section_container {
    padding: 0;
  }
}
