.container {
  padding: 6rem;
  margin-top: -5rem;
  /* background-color: red; */
}
.border {
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 4rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem;
  font-size: 0.8em;
}
.card {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  margin-inline: 24px;
}

.img_container {
  background-size: cover;
  background-position: "center";
  flex: 2 1 1;
  /* flex-wrap: wrap; */
  height: 500px;
  width: 500px;
  width: 100%;
  border-radius: 12px;
}

/* round add button */
.img_container > button {
  position: absolute;
  bottom: 8.4rem;
  right: 1rem;
}

.cards_container {
  display: flex;
}

.label {
  font-family: "Volte";
  font-weight: 300;
}
.meal_header {
  font-family: "Volte";
  font-weight: 400;
}
.price_n_time {
  font-family: "Volte";
  font-weight: 500;
}
.border:last-child {
  border: none;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
    /* position: relative; */
    margin-top: 16rem;
  }
  .cards_container {
    overflow-x: scroll;
    padding: 1rem 0;
  }
  .card {
    min-width: 240px;
    padding: 0;
  }
  .img_container {
    height: 240px;
  }
  .img_container > button {
    bottom: 6rem;
  }
  .img_container > button {
    position: absolute;
    bottom: 12rem;
    right: 1rem;
  }
}
