.header_label {
  font-family: "Volte";
  font-size: 1em;
  letter-spacing: 0.2em;
  font-weight: 500;
}
.header {
  font-size: 4em;
  margin-bottom: 1rem;
}
.link {
  color: var(--color-blue);
  font-family: "Volte";
  font-weight: 400;
  font-size: 1.2em;
}
.button {
  font-family: "Volte";
  cursor: pointer;
  color: var(--color-blue);
  padding: 10px 16px;
  border-radius: 40px;
  font-size: 1em;
  border: none;
  margin-top: 1rem;
  margin-inline: 0.4rem;
  width: 220px;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}
.button:hover {
  background-color: var(--color-white);
}

.container {
  padding: 6rem;
}
.cards_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 0 auto;
  transition: all 0.2s ease-out;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  height: auto;
}
.card:hover {
  flex: 1.2 1;
  padding: 0;
}

.img_wrapper {
  background-color: var(--color-white);
  border-radius: 14px;
  padding: 1rem;
  height: 30rem;
  width: 100%;
  transition: all 0.2s ease;
}
.img_wrapper:hover {
  padding: 0rem;
}

.img_wrapper > img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.card_header {
  font-family: "Volte";
  font-weight: 600;
  font-size: 1.4em;
  margin-inline: 0.4em;
  margin-block: 1rem;
}

.card_text {
  font-family: "Libertinus Serif", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.4em;
  margin-inline: 0.4em;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.hide_card_text {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}
@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
  .header {
    font-size: 2.4rem;
    margin-block: 1.8rem;
  }
  .cards_container {
    flex-direction: column;
  }
  .img_wrapper {
    height: 20rem;
  }
}
