.container {
  display: flex;
  height: 90vh;
}
.img {
  flex: 1;
  &img {
    width: 100%;
    height: 100%;
  }
}
.details {
  flex: 1;
}
.details > div {
  padding-inline: 6rem;
  padding-top: 2rem;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
  .details > div {
    padding-inline: 2rem;
    padding-top: 2rem;
    /* background-color: blanchedalmond; */
    padding-bottom: 4rem;
  }
}
