.container {
  display: flex;
  flex-direction: column;
}
.banner {
  display: flex;
  flex-direction: column;

  position: relative;
}
.banner + img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
/* apron img/logo */
img + img {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.banner_text button {
  width: 12%;
}
